/Library
/*.csproj
/Assets/Editor.meta
/Assets/Editor/CrossPlatformInput.meta
/Assets/Editor/CrossPlatformInput/CrossPlatformInputInitialize.cs
/Assets/Editor/CrossPlatformInput/CrossPlatformInputInitialize.cs.meta
/Assets/Standard Assets/
/*.sln
/*.suo
/obj/Debug/*.cache
/obj/Debug/*.force

*.meta

/Assets/Films/
